<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header" >
    <h3 class="navbar-brand">Murray's</h3>
    <button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="navbar-shears"><img class="img-responsive big-image" src="/assets/razor2.png" /></span>
    </button>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-left">
      <li><a href="/artists">Our stylists</a></li>
      <li id="home"><%= link_to "Main", welcome_index_path %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><p>header links here</p></li>
      <% if false %>
      <% if user_signed_in? %>
        <li> <%= link_to "My Appointments", user_appointments_path(current_user) %> </li>
        <li> <%= link_to "My Cart", user_cart_path %> </li>
        <li> <%= link_to "Previous Cuts", user_path(current_user) %> </li>
        <li> <%= link_to "Logout", destroy_user_session_path, method: 'delete' %> </li>
      <% else %>
        <li> <%= link_to "Sign up", new_user_registration_path %> </li>
        <li> <%= link_to "Login", new_user_session_path %> </li>
      <% end %>
      <% end %>
    </ul>
  </div>
</nav>
