<nav class="navbar navbar-static-top navbar-default" role="navigation">
  <div class="container" id="nav-header">

      <ul class="nav navbar-nav navbar-left">
        <li>
        <a class="navbar-brand" href="/" ><img id="brand" src="/assets/shears-favicon.ico"></a>
        <li id="home"> <%= link_to "Main", welcome_index_path %> </li>
      </ul>

      <div class="nav navbar-nav navbar-center col-md-2 col-md-offset-5">
        <h3>Murray's</h3>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li>

          <p>
            header links here
          </p>
        </li>
        <% if false %>
        <% if user_signed_in? %>
          <li> <%= link_to "My Appointments", user_appointments_path(current_user) %> </li>
          <li> <%= link_to "My Cart", user_cart_path %> </li>
          <li> <%= link_to "Previous Cuts", user_path(current_user) %> </li>
          <li> <%= link_to "Logout", destroy_user_session_path, method: 'delete' %> </li>
        <% else %>
          <li> <%= link_to "Sign up", new_user_registration_path %> </li>
          <li> <%= link_to "Login", new_user_session_path %> </li>
        <% end %>
        <% end %>
      </ul>
  </div>
</nav>
